<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item"
       href="https://achievibit.kibibit.io">

      <img src="//kibibit.io/kibibit-assets/SVG/long-white.svg"
           alt="Bulma: a modern CSS framework based on Flexbox"
           width="112"
           height="28">
      <span class="kb-title">cold-deck</span>
    </a>
  </div>
</nav>
<section class="hero is-warning kb-spacer is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        logs
      </h1>
      <h2 class="subtitle">
        24 hours graph of log density per hour of day
      </h2>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
