<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item"
       href="https://achievibit.kibibit.io">

      <img src="//kibibit.io/kibibit-assets/SVG/long-white.svg"
           alt="Bulma: a modern CSS framework based on Flexbox"
           width="112"
           height="28">
      <span class="kb-title">cold-deck</span>
    </a>
    <div class="search"><input placeholder="Search..."></div>
    <div class="logged-in-user"
         *ngIf="loggedInUser">
      <img [src]="loggedInUser.avatar">
      <span class="kb-username">{{ loggedInUser.username }}</span>
    </div>
  </div>
</nav>
<section class="main-section">
  <div class="hour-graph">
    <div class="single-hour"
         *ngFor="let hour of ['00:00','01:00','02:00','03:00','04:00','05:00','06:00','07:00','08:00','09:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00','18:00','19:00','20:00','21:00','22:00','23:00']">
      <div class="hour-label">{{ hour }}</div>
    </div>
  </div>
  <div class="kb-spacer kb-logs">
    <div class="kb-log"
         *ngFor="let log of logs; let i = index">
      <!-- <div class="kb-row-num">{{ i }}</div> -->
      <div class="kb-level"
           [attr.title]="log.level"
           [style.color]="getColor(log.level)">
        <i class="material-icons">
          {{ log.icon }}
        </i>
      </div>
      <div class="kb-scope"
           [attr.style]="getTagStyle(log.scope)">{{ log.scope.msg ? log.scope.msg : log.scope }}</div>
      <div class="kb-tags">
        <span class="kb-tag"
              *ngFor="let tag of log.tags"
              [attr.style]="getTagStyle(tag)">
          {{ tag.msg ? tag.msg : tag }}
        </span>
      </div>
      <div class="kb-message"
           [style.color]="getColor(log.level)"
           [innerHTML]="log.message | ansi"></div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
