<!doctype html>
<html>

<head>
  <title>Cold-Deck Authentication</title>
  <link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body {
      padding-top: 80px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">

      <h1><span class="fa fa-sign-in"></span> Login</h1>

      <% if (message && message.length > 0) { %>
      <div class="alert alert-danger">
        <%- message %>
      </div>
      <% } %>

      <!-- LOGIN FORM -->
      <a href="./auth/github"
         class="btn btn-primary">
        <span class="fa fa-github"></span>
        Login with GitHub
      </a>
      <hr>

      <div class="text-center">
        <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
      </div>

    </div>
  </div>
</body>

</html>
