<!doctype html>
<html>

<head>
  <title>Cold-Deck Authentication</title>

  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

  <link rel="stylesheet"
        href="//fonts.googleapis.com/css?family=Fredoka+One|Righteous|Comfortaa|Press+Start+2P">
  <link rel="stylesheet"
        href="https://jenil.github.io/bulmaswatch/cyborg/bulmaswatch.min.css">
  <link rel="stylesheet"
        href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet"
        href="login.css">
  <style>
    body {
      padding-top: 80px;
    }
  </style>
</head>

<body>
  <!-- particles.js container -->
  <div id="particles-js"></div>
  <div id="particles-js2"></div>
  <div class="bg-overlay"></div>

  <div class="kb-card">
    <div class="content">
      <div class="logos">
        <h1 class="kibibit-logo">k<span class="red">i</span>b<span class="blue">i</span>b<span class="yellow">i</span>t</h1>
        <h1 class="achievibit">
          <img style="height: 1em; transform: translateY(25%);"
               src="https://cdn3.iconfinder.com/data/icons/random-4/96/wood-trunk-log-camping-nature-resource-512.png">
          cold-deck
        </h1>
      </div>
      <div class="kb-description">
        <h3>Log-in</h3>
        <p>Please Login with your GitHub account</p>
      </div>
      <div class="kb-login-buttons">
        <a class="button is-large is-fullwidth"
           href="./auth/github">
          <i class="devicon-github-plain"></i>
          GitHub
        </a>
      </div>
      <div class="kb-message has-text-danger">
        <% if (message && message.length > 0) { %>
        <%- message %>
        <% } %>
      </div>
      <a class="kb-having-trouble has-text-warning"
         href="/">Having trouble?</a>
    </div>

    <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <svg xmlns="http://www.w3.org/2000/svg"
         version="1.1">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic"
                          stdDeviation="10"
                          result="blur" />
          <feColorMatrix in="blur"
                         mode="matrix"
                         values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 60 -10"
                         result="goo" />
          <feBlend in="SourceGraphic"
                   in2="goo" />
        </filter>
      </defs>
    </svg>
    <script src="login.js"></script>
</body>

</html>
